[class*=infobar] {
    border:var(--hr-border, 0);
    float: right;
    padding: 1rem;
    margin: 1.5rem;
    width: 15rem;
}
[class*=infobar] > * {
    font-size: 10px;
}

.content {
    font-size: 1.5rem;
}

.content h1 {
    font-size: 2.5rem;
    font-weight:  bold;
}

.content h2 {
    font-size: 2.2rem;
    font-weight:  bold;
}

.content h3 {
    font-size: 1.5rem;
    font-weight:  bold;
}

